@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700')

// Set your brand colors
$blue: #071D34
$green: #71CDB1
$beige-light: #d0d1cd
$beige-lighter: #eff0eb

input[type=range]
    -webkit-appearance: none

input[type=range]::-webkit-slider-runnable-track
    height: 5px
    background: transparent
    border: none
    border-radius: 3px

input[type=range]::-webkit-slider-thumb
    -webkit-appearance: none
    border: none
    height: 16px
    width: 16px
    border-radius: 50%
    background: #071D34
    margin-top: -4px

input[type=range]:focus
    outline: none

input[type=range]:focus::-webkit-slider-runnable-track
    background: #ccc

input[type=range]::-ms-fill-upper
    background: #DDD;

input[type=range]::-ms-fill-lower
    background: #071D34;


// Update Bulma's global variables
$family-sans-serif: 'Poppins', sans-serif
$grey-light: $beige-light
$primary: $blue
$link: $green
$widescreen-enabled: false
$fullhd-enabled: false

// Update some of Bulma's component variables
$body-background-color: #FFF
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none
$footer-background-color: $blue
$footer-color: $beige-lighter
@import "../node_modules/bulma/bulma.sass"

.pricing-list
    list-style: none
    li.on
        padding-left: 35px
        margin-bottom: 10px
        background: url("/check.png") left center no-repeat
    li.off
        padding-left: 35px
        margin-bottom: 10px
        background: url("/cross.png") left center no-repeat

@media screen and (max-width: 768px)
    .pricing-center
        margin: 10px 0 10px 0 !important

@media screen and (max-width: 440px)
    .pricing-nav
        width: 90%
